
server {
    listen 80;
    listen [::]:80;
    add_header 'Access-Control-Allow-Origin' '*' always;

    {% if ansible_connection != 'local' %}
        server_name kaya.shimmermathlabs.com;
    {% endif %}

    root /var/www/kaya;

    index index.html;

    location / {
        try_files $uri $uri/ /index.html =404;
    }
}
