<!DOCTYPE html>
<html>
<head>
<style>{{{ style }}}</style>
</head>
<body>
{{{ content }}}
<script>
{{{ script }}}
function getCssVar(name) {
    let bodyStyles = window.getComputedStyle(document.body);
    return bodyStyles.getPropertyValue(`--${name}`);
}
window.addEventListener('load', function() {
  {{{ arrows }}}
});
</script>
</body>
</html>
