<!DOCTYPE html>
<html>
<head>
<style>{{style}}</style>
</head>
<body>
{{{content}}}
{{{script}}}
<script>
// Wait for HTML document to get ready
window.addEventListener('load', function() { // NOT `DOMContentLoaded`
  // Do something about HTML document
  var line = new LeaderLine(
    document.getElementById('L3.H0'),
    document.getElementById('L3.x.1')
  );
});
</script>
</body>
</html>
