<!DOCTYPE html>
<html>
<head>
<style>{{{ style }}}</style>
</head>
<body>
{{{ content }}}
{{{ script }}}
<script>
window.addEventListener('load', function() {
  {{{ arrows }}}
});
</script>
</body>
</html>
