<!DOCTYPE html>
<html>
<head>
<style>{{ style }}</style>
</head>
<body>
{{{ content }}}
{{{ script }}}
<script>
// Wait for HTML document to get ready
window.addEventListener('load', function() { // NOT `DOMContentLoaded`
  // Do something about HTML 
  {{{ arrows }}}
});
</script>
</body>
</html>
