<svg viewBox="0 0 2000 2000" xmlns="http://www.w3.org/2000/svg">
  <style>
{{ style }}
  </style>
  <foreignObject x="0" y="0" width="2000" height="2000">
    <div xmlns="http://www.w3.org/1999/xhtml">
      {{{ contents }}}
    </div>
    {{{ script }}}
  </foreignObject>
</svg>
